.gallery {
  &__header {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin-top: 10px;
    display: inline-block;
    font-size: 3.5vmax;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    color: $secondColor;
    align-self: center;
    text-transform: uppercase;
  }

  &__list {
    display: grid;
    grid-gap: 3vmax;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 2vmax 0;
  }

  &__msg {
    text-align: center;
    margin-top: 6vmax;

    span {
      font-size: 2.5vmax;
      text-transform: uppercase;
    }
  }
}