$mainFontSize: 16px;

$accentColor: #05a081;
$secondColor: #000000;
$linkColor: #989898;

$mainFont: "Montserrat", sans-serif;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);